/*titre h4*/

$menu-weight: 500;
$titre-carte-size: 18px;

/*sous titre h4*/

$menu-soustitres-size: 15px;
$soustitres-weight: 300;


$grandtitre-size: 28px;
$grandtitre-weight: 400;


/* couleur */

$background-main : #F6F6F6;

$color-pbtn: #fff;