$bouton-color: #9356DC;
$background-main : #F6F6F6;
$background-footer : #353535;
$background-carte: #FFF;
$background-info : #99E2D0;


$color-titre: #000;
$color-sstitre: #353535;
$color-pbtn: #fff;
$color-info: #008766;

$titre-carte-size: 18px;
$titre-carte-weight: 700;

$p-size: 18px;
$p-weight: 700;

$soustitres-size: 18px;
$soustitres-weight: 300;


$main-font: 'roboto';