@import "variables";
@import "buttons";
@import "menu";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* main */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    position: relative;

    a {
        text-decoration: none;
        color: inherit;
    }

    h1 {
        margin-top: 39px;
        margin-bottom: 15px;
        font-size: $titres-size;
        font-weight: $titres-weight;
    }

    button {
        font-size: $size-btn;
        color: $color-btn;
    }
    .chargement {
        background: gray;
        display: flex;
        justify-content: center;
        height: 100vh;
        width: 100%;
        z-index: 999;
        top: 0;
        left: 0;
        animation: boiteloader 5s forwards;
        position: fixed;

        .loader {
            border: 16px solid #f3f3f3;
            border-top: 16px solid #3498db;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 5s ;
            justify-content: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .titres {
        margin: 0px 0 22px 0;
        font-size: $titres-size;
        font-weight: $titres-weight;
        padding: 0 0 0 20px;
    }

    .fa-mobile-screen-button,
    .fa-list-ul {
        color: #7E7E7E;
    }

    .fa-store {
        color: $bouton-color;
    }

    .fa-location-dot {
        margin: 0 17px 0 0;
    }

    .entête {
        text-align: center;
        background: $background-main;


        .btn-explorer {
            width: 218px;
            height: 50px;
            color: $color-pbtn;
            text-align: center;
            border-radius: 25px;
            background: var(--boutton-color, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
            border: none;
            margin: 22px 0 57px 0;
            transition: all 0.5s ease-in-out;
            

            &:hover {
                border-radius: 25px;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
                
            }
        }

        .btn-localisation {
            padding: 12.5px 0;
            width: 100%;
            border: none;
        }
    }


    .titres-f {
        text-align: left;
    }

    .soustitres {
        font-size: $soustitres-size;
        font-weight: $soustitres-weight;
        color: $background-footer;
    }

    .fonctionnement {
        margin: 48px 20px 43px 20px;

    }



    .btn-fonctionnement {
        border-radius: 20px;
        box-shadow: 0 4px 15px 0 rgba(54, 69, 79, 15);
        border: none;
        width: 100%;
        height: 72.379px;
        margin-bottom: 24px;
        align-items: center;

        .etapes {
            margin: 28px 58px 28px 0;
            font-size: 16px;
            font-weight: 700;
            padding-left: 20px;

            .icone {
                margin: 27px 23px 27px 25px;
                flex-shrink: 0;
            }

        }

    }

    .fonctionnement-item {
        position: relative;
        margin: 0 0 25px 0;

        .etapes-item {
            align-items: center;
        }


        .rond {
            display: inline-block;
            border-radius: 100%;
            color: white;
            text-align: center;
            width: 24px;
            height: 24px;
            background: $bouton-color;
            position: absolute;
            top: 50%;
            margin-top: -25px;
            left: -7px;
            line-height: 24px;
        }
    }




    .fullcard {
        margin-bottom: 18px;
        position: relative;
        padding: 0 20px 0 20px;

        .carte {
            height: 251px;
            border-radius: 15px 15px 0 0;
            object-fit: cover;
            width: 100%;

            text-align: center;
            color: white;
        }

        .nouveau {
            background-color: $background-info;
            position: absolute;
            top: 20px;
            right: 35px;
            color: $color-info;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
            padding: 10px 6px;
            text-align: center;
            border-radius: 2px;
        }
    }



    .les-restaurants {
        background-color: $background-main;
        text-align: left;
        padding: 55px 0px 60px 0px;
        width: 100%;
        display: flex;
        flex-direction: column;

        .les-titres {
            position: relative;
            background: white;
            padding: 10px 0;

            

            .soustitre-carte {
                margin: 0 80px 12px 12px;
                font-size: 17px;
                font-weight: 300;
            }

            .titre-carte {
                font-size: $titre-carte-size;
                font-weight: $titre-carte-weight;
                color: $color-titre;
                margin: 16px 60px 5px 12px;
            }

            .petitcoeurvide {
                position: absolute;
                right: 21px;
                bottom: 28px;
            }
            .petitcoeurfull{
                position: absolute;
                right: 21px;
                bottom: 28px;
                opacity: 0;
                
                background: linear-gradient( #9356DC -11.44%, #FF79DA 123.93%);
                transition: all 0.4s ease-in-out;
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;

                &:hover {
                    opacity: 1;
                    
                }
            }

        }
    }


}


header {

    text-align: center;
    margin: 14px 0;

    .logohead {
        height: 36px;
        background-color: white;
    }
}

footer {
    background-color: $background-footer;
    color: $color-pbtn;
    padding: 22px 25px;
    display: flex;
    flex-direction: column;

    img {
        display: flex;
        width: 139px;
        height: 27px;
        margin: 0 0 18px 0;
        ;
    }

    ul {
        list-style: none;
    }

    li {
        padding: 0 0 6px 0;
    }
}




/* Les menus*/


.imgmenu {
    object-fit: cover;
    height: 275px;
    width: 100%;
}

.la-carte {
    background: $background-main;
    border-radius: 40px 40px 0 0;
    width: 100%;
    position: relative;
    margin-top: -40px;
    padding: 32px 0 40px 0;

        .arrivee1 {
            animation: arriveemenus 2s;
            }

        .arrivee2 {
            animation: arriveemenus 4s;
            }
            
        .arrivee3 {
            animation: arriveemenus 5s;
            
            }
            
        .arrivee4 {
            animation: arriveemenus 6s;
            }

        .titre-menu {
            font-family: Shrikhand;
            font-size: 34px;
            font-weight: $grandtitre-weight;
            margin: 0px 0 0 25px;
            color: #101010;
            position: relative;

            .coeurvide {
                position: absolute;
                right: 39px;
                bottom: 9px;
                transform-origin: right 50%;
            }
            
            .coeurfull {
                position: absolute;
                right: 39px;
                bottom: 9px;
                opacity: 0;
                background: linear-gradient( #9356DC -11.44%, #FF79DA 123.93%);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                transform-origin: right 50%;
                cursor: pointer;
            
                &:hover {
                    opacity: 1;
                    
                    
                }
            }
            
        }

        .soustitre-menu {
            margin: 40px 0 12px 10px;


            &::after {
                content: " ";
                border-bottom: solid #99E2D0;
                height: 3px;
                width: 48px;
                display: block;
                padding-bottom: 3px;
                    }

            }

        .plat {
            padding: 15px;
            margin: 12px 10px;
            background: $color-pbtn;
            box-shadow: 0px 4px 15px 8px rgba(0, 0, 0, 0.10);
            border-radius: 15px;
            position: relative;
            overflow: hidden;
            
            
   
                &:hover .btnvalide {
                    
                    opacity: 1;
                    transform: translateX(0px);
                }

                &:hover .prix {
                    right: 70px;
                }  
                
        .sstitres {
            font-weight: $menu-weight;
            font-size: $titre-carte-size;
            padding-bottom: 5px;
                }

        .ssstitres {
            font-size: $menu-soustitres-size;
            font-weight: $soustitres-weight;
                }

        .prix {
            position: absolute;
            bottom: 15px;
            right: 15px;
            font-weight: $p-weight;
            font-size: $menu-soustitres-size;
            transition-duration: 1s;
            overflow: hidden;
            }    

        }

        .btnvalide {
            position: absolute;
            width: 60px;
            right: 0;
            bottom: 0;
            height: 70px;
            opacity: 0;
            top : 0px;
            transform: translateX(50px);
            transition: all 1s;
            
        }
    
}


.commander {
    padding: 20px 0 0 0;
    text-align: center;

    .btn-explorer {
        width: 218px;
        height: 50px;
        color: $color-pbtn;
        text-align: center;
        border-radius: 25px;
        background: var(--boutton-color, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
        border: none;
        margin: 22px 0 57px 0;
    }
}

.relativei {
    position: relative;

    .absolutei {
        position: absolute;
        left: 17px;
        width: 30px;
        height: 30px;
    }
}

/* les Keyframes*/

@keyframes boiteloader {
    0% {
      opacity: 1;

    }

    70% {
        opacity: 1;
    }
      
    
    100% {
      opacity: 0;
      z-index: -1;
    }
}    

  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }




@keyframes arriveemenus {
    from {
        transform: translateX(-500px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }

}





@media only screen and (min-width: 1070px)  {

 body {   

        .titres {
            text-align: center;
            padding-right: 850px;

        }

        .fonctionnementitem {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 25px;

            .fonctionnement-item {
                width: 322px;
                

            }
        }

    .la-carte {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;

            .carte_menu {
                width: 634px;
                margin: auto;
            }
    }


main {  
    
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    .les-restaurants {
        display: flex;
        flex-direction: column;
            
}         
        .allcards {
            
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap : 75px;
            max-width: 1280px;
            margin: 0 auto;
                

                .fullcard {
                    width: 490px;
                    height: 251px;
                    margin: 25px 50px;
                    
                
            }
        }
    }    
}

    footer {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 0;
        padding-right: 0;
        margin-bottom: 0;


        ul {
            display: flex;
            flex-direction: row;
            margin: 35px 0 30px 0;

            li {
                padding: 0 5px;
            }
        }

        .logofooter {
            margin: 30px 0 30px 16px;
            padding-right: 0;

        

        }

    }
}