@import "variables"; 
@import "buttons";


body {
    font-family: 'Roboto' ;
    
    button {
        font-size: $size-btn;
        color: $color-btn;
    }

    .carte {
        height: 251px;
        border-radius: 15px 15px 0 0;
    }

    .titre-carte {
        font-size: $titre-carte-size;
        font-weight: $titre-carte-weight;
        color: $color-titre;
    }
}

